.playerList {
  width: 200px;
  float: left;
  padding: 10px;
  margin: 10px;
}

.player {
  width: 180px;
  padding: 1px 5px;
  margin: 2px;
}

.pool {
  background-color: #FFF;
  height: 500px;
}

.basket {
  height: 200px;
  background-color: #CCCCEE;
}

.basket_legend
{
  font-weight: bold;
  text-align: center;
}

.f
{
  background-color: #EEAAAA;
}

.m
{
  background-color: #AAAAEE;
}

